<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <img class="potrait" src="img/Screenshot 2022-11-23 at 8.07.34 PM.png" alt="">
    </div>
    
    {{>footer}}
</body>

</html>